.button {
    inline-size: 60px; /*ancho del botón*/
    block-size: 32px; /*alto del botón*/
    border: none; /*sin bordes*/
    background-color: transparent; /*color de fondo, no de la imagen*/
    border: 1px solid red; 
    background-repeat: no-repeat; /*no rellena el espacio vacio*/
    background-position: center; /*centra el elemento dentro del botón*/
}

#play {
    background-image: url('../images/play.svg');
}

#pause {
    background-image: url('../images/pause.svg');
}

#backward {
    background-image: url('../images/-10.svg');
}

#forward {
    background-image: url('../images/+10.svg');
}