/*se llaman los estilos de los botonoes a este archivo*/
@import './buttons.css';

/*selector de tipo*/
body {
    background-color: #26B4BC; /*color de fondo de todo la página*/
    font-family: Arial, Helvetica, sans-serif; /*busca las fuentes disponibles dentro de nuestro sistema comenzando de izquierda a derecha*/
}

/*selector de clase*/
.wrapper {
    max-inline-size: 900px; /*ancho máximo del video*/
    margin: auto; /*centrar el video horizontal en el navegador*/
}

/*selector de clase*/
.player {
    margin-block-start: 100px; /*el video se coloca a 100px con respecto al eje de ordenadas*/
    position: relative; /*el video es posicionado de acuerdo al flujo normal del documento*/
}

/*operadores de combinación descendentes*/
.player video {
    inline-size: 100%; /*el video es mostrado con su tamaño real*/
    aspect-ratio: 16/9; /*establece una relación de aspecto preferida para la caja. Utilizada para calcular el tamaño automáticamente del video*/
    vertical-align: middle; /*alinea al centro el video con respecto al contenedor con selector .wrapper*/
}

/*selector de clase*/
.player-title {
    color: white; /*el color de la fuente del título se establece en blanco*/
    position: absolute; /*el titulo 'Música para programar' es posicionado relativo al contenedor con selector .player, es decir, podemos posicionarlo dentro del espacio del video*/
    inset-block-start: 0; /*el título se coloca en la esquina superior izquierda*/
    inset-inline-start: 20px; /*el título se desplaza 20px a la derecha a partir de la esquina superior izquierda*/
}

/*selector de clase*/
.player-actions {
    position: absolute; /*el contenedor de los botones es posicionado relativo al contenedor con selector .player, es decir, podemos posicionarlo dentro del espacio del video*/
    inset: 0; /*los botones se estiran hasta abarcar todo el video*/
    display: flex;
    justify-content: center; /*los botones se alinean al centro con respecto al eje horizontal dentro del video*/
    align-items: center; /*los botones se alinean al centro con respecto al eje vertical dentro del video*/
    gap: 20px; /*los botones tienen un espacio de separación de 20px entre ellos*/
    /* z-index: 2; */ /*utilizado para que los botones estén superpuesto a todo los demás elementos*/
}

/*selector de clase*/
.player-progress {
    position: absolute; /*la barra de progreso es posicionado relativo al contenedor con selector .player, es decir, podemos posicionarlo dentro del espacio del video*/
    inset-block-end: 0; /*la barra de progreso se coloca en el parte inferior del video*/
    inset-inline: 0; /*la barra de progreso inicia desde la parte inferior izquierdo del video*/
    display: flex;
    padding: 10px; /*la barra de progreso se separó 10px del borde de su contenedor*/
}

/*operadores de combinación descendentes*/
.player-progress input {
    flex: 1; /*la barra de progreso abarca todo el ancho del video*/
}